body {
  background-color: #354052;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

/*Left side of page*/

.left-side {
  background-color: #354052;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 15em;
  color: #a0acbf;  
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.profile-name {
  margin-top: 1.5em;
  font-weight: 500;
}

.aside-elements {
  display: flex;
  flex-direction: column;
  border-bottom: .2em solid #293241;
  padding: 1.7em 0;
}

.aside-headings {
  color: #65748d;
  margin: 0 1em 1em 1.3em;
}

.aside-icon {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1.2em;
  height: 1.3em;
  margin-right: 1em;
}

.aside-links {
  border-left: .1em solid transparent;
  align-items: center;
  display: inherit;
  padding: .7em 0 .7em 1.3em;
  font-weight: 600;
  text-decoration: none;
}

.aside-links:visited {
  color: #a0acbf;
}

.aside-links:hover {
  color: white;
  box-sizing: border-box;
  background-color: #293241;
  border-left: .1em solid #41aff8;
}

/*Start of left page link images*/

.home-image {
  background-image: url('icons/home.svg');
}

.jobs-image {
  background-image: url('icons/briefcase.svg');
}

.resumes-image {
  background-image: url('icons/resume.svg');
}

.tasks-image {
  background-image: url('icons/tasks.svg');
}

.calander-image {
  background-image: url('icons/calendar.svg');
}

.user-image {
  background-image: url('icons/user.svg');
}

.locations-image {
  background-image: url('icons/locations.svg');
}

.workflows-image {
  background-image: url('icons/workflows.svg');
}

.job-boards-image {
  background-image: url('icons/job-board.svg');
}

.social-image {
  background-image: url('icons/social.svg');
}

.administrative-image {
  background-image: url('icons/yellowbox.svg');
}

.design-image {
  background-image: url('icons/bluebox.svg');
}

.executive-image {
  background-image: url('icons/redbox.svg');
}

.human-resource-image {
  background-image: url('icons/greenbox.svg');
}

/*Start of right side of web page*/

.right-side-page {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ecf2f7;
  width: calc(100% - 15em);
  height: 30em;
}

/*Top search bar section and links*/

.top-bar {
  background-color: white;
  display: flex;
  height: 5em;
}

.top-bar-icons {
  width: 7em;
  border-width: 0 1px 2px 1px;
  border-style: solid;
  border-color: #eef2f5;
}

.top-bar-icons:hover {
  background-color: #41aff8;
}

.menu {
  background: url(icons/menu.svg) no-repeat center;
  background-size: 35%;
  border-left: none;
}

.menu:hover {
  background-image: url(icons/menu-hover.svg);
}

.search {
  background: url(icons/search.svg) no-repeat center;
  background-position: 1rem;
  background-size: 2em;
  border-color: #eef2f5;
  border-style: solid;
  border-width: 0 1px 2px 1px;
  flex-grow: 1;
  font-size: 1em;
  text-indent: 3.5em;
}

.search::placeholder {
  color: #8a95a5;
}

.user {
  background: url(icons/add-user.svg) no-repeat center;
  background-size: 40%;
}

.user:hover {
  background-image: url(icons/add-user-hover.svg);
}

.calender {
  background: url(icons/add-calendar.svg) no-repeat center;
  background-size: 40%;
}

.calender:hover {
  background-image: url(icons/add-calendar-hover.svg);
}

.cube {
  background: url(icons/squares.svg) no-repeat center;
  background-size: 35%;
}

.cube:hover {
  background-image: url(icons/squares-hover.svg);
}

/*Top of main content, location of tabs to change main body content*/

.sub-content {
  background-color: white;
  padding: 3em 2em 0 2em;
}

.sub-content-top-container {
  display: flex;
  justify-content: space-between;
}

.sub-content-header {
  font-size: 2.2em;
  margin-bottom: .6em;
  color: #4e515e;
  font-family: 'Open Sans', sans-serif;
}

.locations-icon {
  background-image: url('icons/locations.svg');
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1.2em;
  margin-right: .5em;
  width: 1.2em;
}

.location-header {
  color: #8a95a5;
}

.link-to-post {
  color: #15a4fa;
  text-decoration: none;
}

.sub-content-buttons {
  border-radius: 50%;
  border: .2em solid #d2dae2;
  height: 4em;
  margin-left: 1em;
  width: 4em;
}

.buttons-box {
  display: flex;
}

.dot-image {
  background: url('icons/dot.svg') no-repeat center;
  background-size: 100%;
  display: inline-block;
  height: 1.2em;
  margin-right: .5em;
  vertical-align: text-bottom;
  width: 1.1em;
}

.open-button {
  border-radius: 3em;
  border: .1em solid #d2dae2;
  color: #4e515e;
  font-size: 1em;
  font-weight: 800;
  height: 2.7em;
  width: 8em;
}

.open-button:hover {
  border-color: #41aff8;
  color: #41aff8;
}

.banner-button {
  background: url('icons/banner.svg') no-repeat center;
  background-size: 60%;
}

.banner-button:hover {
  background-image: url('icons/banner-hover.svg');
  border-color: #41aff8;
}

.pencil-button {
  background: url('icons/pencil.svg') no-repeat center;
  background-size: 60%;
}

.pencil-button:hover {
  background-image: url('icons/pencil-hover.svg');
  border-color: #41aff8;
}

.trash-button {
  background: url('icons/trash.svg') no-repeat center;
  background-size: 60%;
}

.trash-button:hover {
  background-image: url('icons/trash-hover.svg');
  border-color: #41aff8;
}

.tabs-navigation {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  padding-top: 4em;
}

.small-tab-for-break {
  display: none;
}

.tabs {
  border-bottom: .1em solid transparent;
  color: #8a95a5;
  font-weight: 600;
  padding-bottom: .7em;
  text-decoration: none;
}

.tabs:visited, {
  border-bottom: .1em solid transparent;
  color: #8a95a5;
  text-decoration: none;
}

.tabs:hover {
  border-bottom: .1em solid #41aff8;
  color: #4e515e;
}

.main-content {
  padding: 3em 2em 0 2em;
  background-color: #ecf2f7;
}

/*Start of main page graphs area*/

.graphs-and-buttons {
  border-bottom: 2px solid #d2dae2;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
  margin-bottom: 3em;
}

.pie-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.pie-graphs {
  display: flex;
  height: 14em;
}

.pie-graph {
  align-self: center;

}

.chart-text {
  font: 16px/1.4em "Montserrat", Arial, sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.donut {
  width: 90%;
}

.bold-text {
  font-weight: 900;
}

.bar-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.bar-graph {
  background: url('icons/bar-graph.png') no-repeat center;
  background-size: contain;
  height: 14em;
  width: 100%;
}

.graph-bottom-buttons {
  align-self: center;
  border-radius: 20px;
  border: 2px solid #d2dae2;
  color: #4e515e;
  font-size: 1em;
  padding: 5px 20px;
  width: fit-content;
}

.button-space-remove-box {
  background-color: #ecf2f7;
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: 3.1em;
  width: 3em;
}

.sub-content-colaps-button {
  background: url('icons/aarow.svg') no-repeat center;
  background-color: #FFF;
  background-size: 1.5em;
  border-radius: 100%;
  border: 2px solid #d2dae2;
  height: 3em;
  transform: scaleY(-1);
  width: 3em;
}

/*Start of main page primary content*/

strong {
  font-weight: 700;
}

.main-page-container {
  display: flex;
  padding-bottom: 3em;
}

.main-page-content {
  width: 66.66%;
  background-color: white;
  border-radius: 0.5em;
}

.main-page-employee-info {
  display: flex;
  padding: 1.8em 0;
  margin: 0 2em;
  border-bottom: 2px solid #eef2f5;
}

.top-info-main-page {
 background-color: #6f7e95;
 display: flex;
 align-items: center;
 padding: 1.3em 2em;
 border-radius: .5em .5em 0 0;
}

.top-main-content-heading {
  color: white;
  margin-right: 4%;
  font-weight: 700;
}

.edit-button {
  display: flex;
  align-items: center;
  background-color: #7e8ba0;
  color: white;
  border: none;
  height: 3em;
  width: 6em;
  font-size: 1em;
  font-weight: 600;
}

.edit-button:hover {
  background-color: #38404c;
}

.edit-button-icon {
  background: url('icons/pencil-white.svg') no-repeat center;
  background-size: cover;
  margin: 0 0.5em 0 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.bottom-info-li {
  display: flex;
  margin: 0 2em;
  padding: 1.5em 0;
}

.bottom-info-heading {
  font-weight: 700;
  color: #6f7e95;
  width: 30%;
}

.main-content-headings {
  color: #6f7e95;
  font-weight: 700;
  width: 30%;
}

.main-paragraph-info {
  width: 70%;
  color: #4e515e;
}

.main-content-li-picture {
  background: url('https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/p-futurama-billy-west.jpg') no-repeat center;
  background-size: cover;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 2%;
}

.li-with-image-and-content {
  display: flex;
  align-items: center;
  padding: 1.8em 0;
  margin: 0 2em;
  border-bottom: 2px solid #eef2f5;
  color: #4e515e;
}

/*Start of social media section of page*/

.main-page-socialmedia {
  width: 33.33%;
  margin-left: 3em;
}

.social-media-buttons {
  display: flex;
  flex-direction: column;
}

.social-media-button-common-peram {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 1em;
  font-weight: 900;
  padding: 1.5em 10%;
  border-radius: .5em;
  margin-bottom: 1em;
}

.facebook-button {
  background-color: #496ec1;
}

.icons {
  width: 1.2em;
  height: 1.2em;
  margin-right: 18%;
}

.facebook-icon {
  background: url('icons/facebook-logo.svg') no-repeat center;
  background-size: contain;
}

.twitter-button {
  background-color: #00aaef;
}

.twitter-icon {
  background: url('icons/twitter-logo.svg') no-repeat center;
  background-size: contain;
}

.linkedin-button {
  background-color: #0382be;
}

.linkedin-icon {
  background: url('icons/linkedin-logo.svg') no-repeat center;
  background-size: contain;
}

/*Section with resume and links to job posting*/

.bottom-page-info-containers {
  margin-top: 3em;
}

.resume-misc-content-header {
  color: #4e515e;
  font-weight: 700;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.globe-icon {
  background: url('icons/link-to-job.svg') no-repeat center;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.cabinet-icon {
  background: url('icons/button-widget.svg') no-repeat center;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.plane-icon {
  background: url('icons/upload-resume.svg') no-repeat center;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5em;
}

.bottom-page-paragraph {
  color: #4e515e;
  margin: 1em 0;
}

.bottom-page-info-links {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  border-radius: .5em;
  height: 3em;
}

.bottom-page-textlinks {
  color: #6f7a8b;
  text-indent: 1em;
  font-weight: 700;
  font-size: 1em;
  overflow: hidden;
}

.copy-buttons {
  width: 5em;
  color: white;
  border-radius: 0 .5em .5em 0;
  height: inherit;
  background-color: #47bac1;
  font-size: .7em;
  font-weight: 700;
}

@media only screen and (max-width: 1150px) {
  .sub-content-top-container {
    flex-direction: column;
  }

  .buttons-box {
    margin-top: 2em;
  }

  .graphs-and-buttons {
    flex-direction: column;
  }

  .pie-container {
    width: 100%;
  }

  .bar-container {
    width: 100%;
    margin-top: 2em;
  }

  .bar-graph {
    margin-bottom: 1em;
  }

  .main-page-container {
    flex-direction: column;
  }

  .main-page-content {
    width: 100%;
  }

  .main-page-socialmedia {
    width: 100%;
    margin: 2em 0 0 0; 
  }

  .social-media-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .icons {
    margin-right: 7%;
  }

  .bottom-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-page-info-containers {
    margin: 2em 0;
    width: 30%;
  }

  .social-media-button-common-peram {
    padding: 1em;
    width: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .left-side {
    display: none;
  }

  .right-side-page {
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1.3em;
  }

  .search::placeholder {
    color: transparent;
  }

  .sub-content {
    padding: 1em 1em 0 1em;
  }

  .sub-content-buttons {
    height: 5em;
    width: 5em;
  }

  .main-content {
    padding: 1em 1em 0 1em;
  }

  .tabs-navigation {
    padding-top: 2em;
  }

  .small-tab-for-break {
    display: unset; 
  }

  .remove-tab {
    display: none;
  }

  .social-media-buttons {
    flex-direction: column; 
  }

  .social-media-button-common-peram {
    width: 100%;
    padding: 1.5em 6%;
  }

  .icons {
    margin-right: 32%;
  }

  .bottom-page-content {
    flex-direction: column;
  }

  .bottom-page-info-containers {
    width: 100%; 
  }
}

@media only screen and (max-width: 630px) {
  .main-content {
    padding: 0 1em 0 1em;
  }

  .pie-graphs {
    flex-direction: column;
    height: 100%;
  }

  .donut {
    width: 100%;
  }

  .graphs-and-buttons {
    margin-bottom: 2em;
  }

  .main-page-employee-info {
    flex-direction: column;
    padding: 1em 0;
    margin: 0 0.5em;
  }

  .top-info-main-page {
    padding: 1.3em 0.5em;
  }

  .edit-button-icon {
    display: none;
  }

  .edit-button {
    justify-content: center;
    height: 2em;
    width: 3em;
  }

  .main-content-headings {
    width: 100%;
    margin-bottom: .5em;
  }

  .main-paragraph-info {
    width: 100%;
  }

  .li-with-image-and-content {
    padding: 1em 0;
    margin: 0 0.5em;
  }

  .main-content-li-picture {
    width: 5em;
  }

  .bottom-info-li {
    margin: 0 0.5em;
    padding: 1em 0;
    flex-direction: column;
  }

  .bottom-info-heading {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .social-media-button-common-peram {
    padding: 0.5em 4%;
  }

  .icons {
    margin-right: 14%;
  }
}


